

.center {
    display: flex;
    justify-content: center;
    align-items: center; /* butun alt elemanları kapsar*/

}

.anasayfa-alt{
    color: rgb(64, 53, 75);
    font-style: italic;
    font-size: 20px;
}

.alt-baslik{
    color:rgb(80, 161, 161);
    font-size: 25px; 
}

#araba-satir{
    color: rgb(173, 118, 50);
    font-size: 20px;
    font-style: normal
}

